# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo
*~
.project
.classpath
*.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db

# Database
*.sqlite
*.sqlite3
.prisma/dev.db*

# Docker
.dockerignore

# Agent logs
agent-logs/jobs-log.json
